.slide-icon {
    font-size: 40px;
  }

  .texto {
    color: var(--color-parrafos); // 1. color, variable personalizada 
    font-size: medium;
  }
  
  .font-cursive {
    font-family: var(--fuente-titulos); // 2. Fuente de los titulos, variable personalizada 
    color: var(--ion-color-success-shade); //--ion-color-success;
    text-shadow: 3px 3px 3px #ababab;
    font-size: var(--tam-fuente); // 3. Tamaño de fuente de los titulos, variable personalizada 
    text-align: center;
  }


  .close_icon {
    font-size: 25px;
    color: var(--ion-color-warning-contrast); // 2- variable predeterminada de ionic 
    z-index: 50;
    float: right;   
  }

  //Estilos custom properties, se agrega toolbar en el header
  ion-toolbar {
    --background: #19422d;
    --color: white;
  }

 ion-content{
    --background: #deeee6;
  }
