<ion-header>
  <ion-toolbar>
    <ion-title> Music App </ion-title>
    <ion-icon name="close" class="close_icon" (click)="finish()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <swiper-container 
  [initialSlide]="1"
  [slidesPerView]="1"s
  [speed]="400"
  >

    <swiper-slide *ngFor="let slide of slides">
      <h1 class="font-cursive">{{slide.title}}</h1>
      <img src="{{slide.img}}"/>
      <ion-icon name="{{slide.icon}}"></ion-icon>
      <p class="texto">{{slide.description}}</p>
    </swiper-slide>
  </swiper-container>
</ion-content>
