.slide-icon {
    font-size: 40px;
    color: #A452FA;
  }

  .texto {
    text-align: justify;
    color: --color-parrafos; // 1. color, variable personalizada 
    margin: 10px;
  }
  
  .font-cursive {
    font-family: --fuente-titulos; // 2. Fuente de los titulos, variable personalizada 
    color: --ion-color-success; //1- Variable predeterminada de ionic
    text-shadow: 3px 3px 3px #ababab;
    font-size: --tam-fuente-titulos; // 3. Tamaño de fuente de los titulos, variable personalizada 
    text-align: center;
  }


  .close_icon {
    font-size: 25px;
    color: --ion-color-warning-contrast; // 2- variable predeterminada de ionic 
    z-index: 50;
    float: right;   
  }

  //Estilos custom properties, se agrega toolbar en el header
  ion-toolbar {
    --background: #19422d;
    --color: white;
  }

  ion-content{
    --background: #deeee6;
  }