<ion-header>
  <ion-toolbar>
    <ion-title> Music App </ion-title>
    <ion-icon name="close" class="close_icon" (click)="finish()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--Se agrega Utilidad-->
  <swiper-container class="ion-margin"
  [initialSlide]="0"
  [slidesPerView]="1"
  [speed]="400"
  >

    <swiper-slide *ngFor="let slide of slides">
      <h1 class="ion-text-uppercase">{{slide.title}}</h1><!--Se agrega Utilidad-->
      <img src={{slide.img}}/>
      <ion-icon name="{{slide.icon}}"></ion-icon>
      <p class="ion-text-justify">{{slide.description}}</p> <!--Se agrega Utilidad-->
    </swiper-slide>
  </swiper-container>
</ion-content>
